<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Saúde</strong> em nuvem
      </h2>
    </div>

    <!-- Login form -->
    <form [formGroup]="credentialsForm" class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="tel" item-start class="text-primary"></ion-icon>
          Telefone
        </ion-label>
        <ion-input [formControl]="credentialsForm.controls['telefone']" type="phone"></ion-input>
      </ion-item>
      <div *ngIf="!credentialsForm.controls.telefone.valid &&
                credentialsForm.controls['telefone'].dirty" class="validator-error">
        Informe um numero de telefone valido
      </div>

      <ion-item>
        <ion-label floating>
          <ion-icon name="senha" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input [formControl]="credentialsForm.controls['senha']" type="password"></ion-input>
      </ion-item>
      <div *ngIf="!credentialsForm.controls.senha.valid &&
            credentialsForm.controls['senha'].dirty" class="validator-error">
        Informe sua senha.
      </div>
    </form>


    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Esqueceu a senha</strong></p>

    <div>
      <button ion-button icon-start block color="dark" tappable (click)="login()" [disabled]="!credentialsForm.valid">
        <ion-icon name="log-in"></ion-icon>
      Entrar
      </button>

      <p text-center ion-text color="secondary">Em breve autenticação pelo : </p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">Novo aqui? <strong>Realize seu cadastro</strong></span>
    </div>

  </div>
</ion-content>
